$header-color: #151d2c;
$header-color-light: white;

$footer-color: #151d2c;
$footer-color-light: #DCE0E4;

$body-color: lighten(#151d2c, 2);
$body-color-light: white;
$body-border-color: darken(#1b77d2, 20);

$query-builder-background: #0c1520;
$query-builder-background-light: #DCE0E4;

$input-border-color: #2f374a;
$input-regex-color: lighten(#151d2c, 10);
$input-regex-color-light: darken(#DCE0E4, 20);

$flag-hover-color: #0f4478;
$flag-selected-color: lighten(#151d2c, 10);
$flag-selected-color-light:#DCE0E4;

$results-grid-header-color: #2c333d;
$td-border-color: #2f374a;
$td-border-color-light: #DCE0E4;

$gutter-color: #2f374a;
$gutter-color-light: #DCE0E4;

$match-highlight-text-color: rgba(#1b77d2, 0.5);

$accent-color: #1b77d2;
$accent-color-light: lighten(#1b77d2, 10);

$windows-close-hover: #e81123;
$windows-close-active: #f1707a;